html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url(fd.jpg);
    background-size: cover;
}
/* *******************************POST IT*************************************** */
#postIt  {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background-color:rgb(255, 220, 144);
    border-bottom-right-radius: 60px 10px;
    box-shadow: 0 8px 10px 3px rgb(0, 0, 0);
}
/* *******************************ICON PUNAISE************************************************ */
.imgPunaise {
    width: 85px;
    height: 85px;
    position: absolute;
    margin-left: 196px;
    margin-top: -28px;
}
/* *********************************TITRE PRINCIPAL POST IT ************************************************** */
h3 {
    display: flex;
    justify-content: center;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 33px;
    margin: auto;
}
/* ********************************CONTENU DU POST IT*************************************************** */
.container{
    height: 280px;
    overflow-y: scroll;
}
/* *********************************CONTENU DU POST IT (emplacement des todos créés)********************************* */
.containerTodo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* *********************************CHECKBOX DES TODOS*************************************************** */
.checkBox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
/* *********************************TEXT DES TODOS****************************************************************** */
.Text-box:focus{
    outline: none;
}

.Text-box{
    border: none;
    font-size: 16px;
    font-family: 'Gloria Hallelujah', cursive;
    background: rgb(255, 220, 144);
}
/* **********************************IMG DES TODOS (supprimé, modifié, ajouté)*********************************************************** */
.imgDelete, .imgSave, .imgAdd{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-left: 6px;
}

.imgAdd:focus, .imgDelete:focus, .imgSave:focus{
    outline: none;
}
/* *********************************TITRE AJOUT POST IT ************************************************** */
h2{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
    text-align: center;
}
/* *********************************CONTENU AJOUT POST IT (emplacement des todos à ajouter)********************************* */
.containerAdd{
    display: flex;
    justify-content: center;
}
/* *********************************TEXT DES TODOS A AJOUTER********************************* */
.Text-boxAdd{
    font-family: 'Gloria Hallelujah', cursive;
    background: rgb(255, 220, 144);
}